<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
    <script>
        window.onload = function () {
            var vm = new Vue({
                el: ".app",
                data: {
                    data_list: [1, 2, 3, 4, 5],
                    personObj:{
                        name:"徐文彬",
                        age:26
                    }
                }
            })

        }
    </script>
</head>

<body>
    <div class="app">
        <div v-for="item in data_list">{{item}}</div>
        <div>{{...data_list, 6}}</div>
        <li v-for="value in personObj">{{value}}</li>
    </div>
</body>

</html>